<h1> All Players </h1>

<ul>
    <% @player.each do |player| %>
        <li> <%= link_to player.name, player_path(player) %> <li>
    <%end%>
</ul>

<br>
<%= link_to "Create New Player", new_player_path %>
</br>
<br>
<%= link_to "Welcome Page", welcome_path %>
</br>