<h1>All Matches</h1>

<ul>
    <% @match.each do |match| %>
    <li> #<%= link_to match.match_number, match_path(match) %> </li>
<%end%>
</ul>

<br>
<%= link_to "Create New Match", new_match_path %>
</br>
<br>
<%= link_to "Welcome Page", welcome_path %>
</br>